:root {
    --grid-size: 16;
}

html {
    background: rgb(85,85,85);
    background: linear-gradient(90deg, rgba(85,85,85,1) 0%, rgba(105,100,100,1) 100%);
}

.cell {
    display: inline-block;
    background-color: white;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    margin: auto;

}

.header {
    display: flex;
    justify-content: center;
}

.control-panel {
    padding: 5px;
}


#grid-wrapper {
    width: 375px;
    height: 375px;
    margin: auto;
    display: flex;
    display: grid;
    justify-content: stretch;
    border: thin solid black;
}
